In [10]:
def saludo():
    print("Hola")

saludo()

Hola

In [12]:
def saludo_nombre(nombre):
    print("Hola " + nombre)

saludo_nombre("Juan")

Hola Juan

In [14]:
## Area de un circulo
def area_circulo(radio):
    area = 3.1416 * radio ** 2
    return area

mi_area = area_circulo(2)
print(mi_area)

12.5664

In [16]:
## Con def indicamos una funcion y a continuacion le damos nombre a la funcion para identificarla y asi a continuacion
## darle la serie de funciones que queremos que realice
## (X1, X2) son las dos variables que queremos utiliar
# RETURN le indicamos que nos regresa la funcion de x,1 * x2
# Y al ultimo invocamos al PRODUCTO dandole valores a las variables x1 = 2  x2 = 4

def producto(x1, x2):
    return x1 * x2

producto(2,4)

8

In [23]:
## Funcion con Valores pre-determinados
## Aqui solo le dimos valor pre-determinado a "B" para que a la hora de traer el resultado le indicaramos el valor a "A"
# Y asi nos realise la suma de las dos variables


def suma(a, b = 3):

    return a + b

Resultado = suma(2)
print(Resultado)

5

In [25]:
## Es importante saber que la Variable dentro de una funcion no la puedo ejecutar por si sola
## "X"
def duplica(numero):
    x = numero * 2
    return x

print(x)

NameError: name 'x' is not defined

In [27]:
## Esta es la fomra correta de traer a la Funcion

def duplica(numero):
    x = numero * 2
    return x

print(duplica(10))

20

In [33]:
## De esta forma con "*" le indicamos a la funcion que la variable obtendra mas de un parametro

def mi_funcion(*amigos):
    print("Mi mejor amigo es " + amigos[2])

mi_funcion("Pedro", "Jose", "Linus", "Jaun")

Mi mejor amigo es Linus

In [35]:
## EL orden en el cual le damos valores o parametros a las variables no es un limitante de izquiera a derecha
def chicos(chico1, chico2, chico3):
    print("El chico mas joven es " + chico3)
chicos(chico3 = "Emil", chico1 = "Tobias", chico2 = "Armando")

El chico mas joven es Emil

In [7]:
## Los dos "**" significa que vamos a manejar una especie de Diccionario pero atraves de funciones

def apellido(**chico):
    print("El apellido es " + chico["apellido"])

apellido(npila = "Juan", apellido = "Suerez", edad = 15)

El apellido es Suerez

In [9]:
# esta no es una forma correcta de utilizar ya que no le pedimos que nos traiga la variable sola 
# si no que tambien traemos la funcion sola y la variable
def pais(country = "Mexico"):
    print("Soy de " + country)

pais("Argentina")
pais()

Soy de Argentina
Soy de Mexico

In [11]:
## De esta fomr podemos posponer una idea dejando la funcion activa sin arrojar un error
-def funcion():
    pass

funcion()

In [23]:
## Pase de listas en funciones
def lista_comida(comida):
    for x in comida:
        print(x)

frutas = ["Manzana", "Fresa", "Sandia"]
lista_comida(frutas)

Manzana
Fresa
Sandia

In [31]:
## De esta forma iniciamos una serie de funciones con la funcion DEf le damos una variable nombrada TABLA_DEL donde su valor es el NUMERO
# a lo que pasamos a Su resultado dando nuevamente una variable con valor en cero
# Con FOR inciamos el ciclo para que multiplique con la variable "i" en el cual con RANGE le indicamos de que numero a que numero querenmos que 
#multiplique. le otorgamos del 1 al 11 por que el ultimo numero no lo ejecuta
## RESULTADPS.APPEND hacemos que append sirva opara "Adjuntarar" resultados de variables. Entre parentesis le damos la instruccion que queremos
#que realize le dimos el numero multiplicado por la variable "i" donde la variable "i" ya tiene indicado el ciclo por realizar
# RETURN hacemos que nos regrese el resultado que habiamos dejado en blanco
# Para asi solo darle Valor a la variable "TABLA_DEL".


def tabla_del(numero):
    resultados = []
    for i in range(1,11):
        resultados.append(numero * i)
    return resultados
tabla_del(5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [33]:
## De esta forma le indicamos con For un nuevo ciclo en el cual le otorgamos una variable sin valor pero con RANGE le 
#indicamos que nos enumere el valor del 1 al 10 el la variable VALOR
# Para asi solo imprimir la Variable "TABLA_DEL" (que es la serie de instrucciones que queremos que realize sobre La variable VALOR
#y la variable VALOR tiene un ciclo dentro con FOR en el cual RANGE le dara el valor del 1 al 10

def tabla_del(numero):
    resultados = []
    for i in range(1,11):
        resultados.append(numero * i)
    return resultados

for valor in range(1,11):
    print(tabla_del(valor))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [39]:
## Iniciamos una serie de funciones llamada "PALINDROMO" con una variable llamada "CADENA"
# Hacemos dos variables llamadas "IZQ" y "DER" en el cual a la variable "IZQ" le damos el valor de 0 es que es donde queremos que inicie
#y a la variable "DER" le indicamos sivalor es de toda la longitud del valor de la variable Cadena pero menos -1
# Iniciamos un ciclo con WHILE en el cual accionara si "DER" es igual O mayor que "IZQ"
# En caso que no sean iguales los valores de las variables "IZQ" y "DEF" se detendra con la Funcion "IF NOT"
# Y nos regresara la respuesta FALSE con la funcion "RETURN FALSE"
# pero en caso de que no sea el caso de que no sean los Valores iguales la maquina se ira hasta la variable "IZQ" donde tendra que avanzar de 
##izquierda a derecha aumentando en 1 unidad la posicion "IZQUIERDA += 1" y en el caso de la "DER" la tenemos que decrementar "DERECHA -= 1"
# Si este es el caso nos arrojara "RETURN TRUE"
# Ahorra solo imprimimos la serie de funciones con el valor de la varible Cadena que va a ejecutar en todas estas funciones

def Palindromo(cadena):
    izquierda = 0
    derecha = len(cadena) - 1
    while derecha >= izquierda:
        if not (cadena[izquierda] == cadena[derecha]):
            return False
        izquierda += 1
        derecha -= 1
    return True
    
print(Palindromo("rayar"))

True

In [43]:
##Version 2 que resuelve el problema con las Mayusculas
# Con la instruccion ".lower()" hacemos que cada variabe cambie si valor a Minusculas
def Palindromo2(cadena):
    izquierda = 0
    derecha = len(cadena) - 1
    while derecha >= izquierda:
        if not (cadena[izquierda].lower() == cadena[derecha].lower()):
            return False
        izquierda += 1
        derecha -= 1
    return True
    
print(Palindromo2("Rayar"))

True

In [45]:
##Funcion tradicional
def cuadrado(x):
    return x ** 2
print(cuadrado(2))

4

In [47]:
## Con la funcion "LAMBDA" indicamos que es un funcion y inicial mente le otorgamos el nombre y una variable llamada "X" y en seguida
# le decimos que queremos que realize sobre esa variable 
# aqui le indicamos que queremos el vaslor de "X" al Cuadrado
# Para asi imprimir la Funcion y el valor de X 
# Ojo es para funciones peque√±as y Anonimas
cuadrado = lambda x: x ** 2
print(cuadrado(2))

4

In [51]:
suma = lambda x, y: x + y
suma(2,3)

5

In [53]:
## De esta forma podemos hacer la operacion de la funcion en Anonimato sin otorgarle nombre a la Funcion
(lambda x, y: x + y)(2,3)

5

In [2]:
# Ds esta fomra mesclamos dos funciones como es DEF y LAMBDA 
## primeramente niciamos dandole una fuincion llamada CALCULA con un parametro llamado "N" 
# A continuacion de le indicamos que nos retorne otra funcion con LAMBDA que va a tomar el valor de X y ese valor de x
#lo va a multiplicar por "N"
# Desoues definimos una variables que pasa a ser una funcion de LAMBDA y esta va a llamar a calcula con el valor de 2
# ahora imprimimos el dolbe de valor 15 
def calcula(n):
    return lambda x: x * n

resultado = calcula(2)
print("El doble del numero 15 es", resultado(15))

El doble del numero 15 es 30

In [6]:
## Iniciamos dandole nombre a la funcion lambda y ahora donde voy a recibir dos textos uno es "texto" y el otro en "X"
# Y ahora damos la instruccion de TRue con IF donde le damos un clico con if de verdadero con True de X y le especificamos
#con x.startswith el inicio de la palabra con el Valor de "Texto" y de lo contrario con un else nos arroje el False
# y con print imprimimos la funcion lambda y le otrogamos los valores "p" y "python"
inicia_con = lambda texto, x: True if x.startswith(texto) else False

print(inicia_con("p", "python"))

True