In [4]:
# con este comando FOR le indicamos la suma de los valores en la vaiable NUMEROS y le inciamos que nos lo imprima con un print 
numeros = [6, 5, 3, 8, 4, 2, 5, 4, 11]
suma = 0

for valor in numeros:
    suma = suma + valor

print("La suma es", suma)

La suma es 48

In [6]:
# De esta forma le indicamos que nos indique el valor de la variable "SUMA"
numeros = [6, 5, 3, 8, 4, 2, 5, 4, 11]
suma = 0

for valor in numeros:
    suma = suma + valor

print(f"La suma es {suma}")

La suma es 48

In [8]:
frutas = ["manzana", "fresa", "cereza"]
for fruta in frutas:
    print(fruta)

manzana
fresa
cereza

In [12]:
for letra in "platano":
    print(letra)

p
l
a
t
a
n
o

In [16]:
# Aqui le indicamos que realize la busqueda de i y que mientras lo haxce haga la suma de los valores
total = 0
for i in 5, 7, 11, 13:
    print(i)
    total += i
print("tota: ", total)

5
7
11
13
tota:  36

In [18]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [20]:
# Aqui le indicamos que nos imprima desde un numero requerido hasta un limite
for x in range(2, 10):
    print(x)

2
3
4
5
6
7
8
9

In [22]:
for x in range(2,10,3):
    print(x)

2
5
8

In [24]:
for x in range(6):
    print(x)
else:
    print("Proceso terminado")

0
1
2
3
4
5
Proceso terminado

In [31]:
# De esta forma encontramos el valor mas grande de una variable
mas_grande = -1
for numero in [9, 41, 12, 3, 74, 15]:
    if numero > mas_grande:
        mas_grande = numero
print("Numero mas grande: ", mas_grande)

Numero mas grande:  74

In [35]:
# De esta forma le indicamos hasta donde queremos que busque en este caso lo detendrenmos en FRESA
frutas = ["manzana", "fresa", "cereza"]
for fruta in frutas:
    print(fruta)
    if fruta == "fresa":
        break

manzana
fresa

In [2]:
# De esta forma con el comando Else le indicamos que en caso de no encontrar el valor requerido nos imprima PROCESO TERMINADO
for x in range(6):
    if x == 8: break
    print(x)
else:
    print("Proceso Terminado")

0
1
2
3
4
5
Proceso Terminado

In [10]:
nombre = input("Nombre del estudiante: ")
datos = {"Jose" : 85, "Angela" : 92, "Miguel" : 75, "Ana" : 98}

for estudiante in datos:
    if estudiante == nombre:
        print("Calificacion : ", datos[estudiante])
        break
else:
    print("No se encontro el estudiante solicitado")

Nombre del estudiante:  Randi

No se encontro el estudiante solicitado

In [14]:
## De esta forma For nos da las tipos dde combinaciones que se pueden realizar con los valores de las variables
frutas = ["manzana", "fresa", "cereza"]
adjetivos = ["roja", "grande", "deliciosa"]

for fruta in frutas:
    for tipo in adjetivos:
        print(fruta, tipo)

manzana roja
manzana grande
manzana deliciosa
fresa roja
fresa grande
fresa deliciosa
cereza roja
cereza grande
cereza deliciosa

In [16]:
# Con esta instruccion "reversed" nos imprimira los valores de una variable de DERECHA A IZQUIERDA
lista = [10, 20, 30, 40]
for numero in reversed(lista):
    print(numero)

40
30
20
10

In [22]:
# De esta forma hacemos una secuencia de tablas de multiplicar con el input y cpm la intruccion END hacemos que nos de un espoacio entre ellos
# para que sea mas visible
tablas = int(input("# de tablas a calcular: "))

for i in range(1, tablas + 1):
    print("Tabla de multiplicar de:", 1)
    contador = 1
    while contador < 11:
        print(i * contador, end = " ")
        contador += 1
    print("\n")

# de tablas a calcular:  10

Tabla de multiplicar de: 1
1 2 3 4 5 6 7 8 9 10

Tabla de multiplicar de: 1
2 4 6 8 10 12 14 16 18 20

Tabla de multiplicar de: 1
3 6 9 12 15 18 21 24 27 30

Tabla de multiplicar de: 1
4 8 12 16 20 24 28 32 36 40

Tabla de multiplicar de: 1
5 10 15 20 25 30 35 40 45 50

Tabla de multiplicar de: 1
6 12 18 24 30 36 42 48 54 60

Tabla de multiplicar de: 1
7 14 21 28 35 42 49 56 63 70

Tabla de multiplicar de: 1
8 16 24 32 40 48 56 64 72 80

Tabla de multiplicar de: 1
9 18 27 36 45 54 63 72 81 90

Tabla de multiplicar de: 1
10 20 30 40 50 60 70 80 90 100