In [2]:
# Ejemplos de asignaciones
x = 2
print(x)

2

In [4]:
# Seguimiento del valor de x anterior 3 ahora 5.
x = x + 3
print(x)

5

In [10]:
# A la 2da potencia ** o potencia.
# Valor de x es de 5 y a la 2da potencia se multiplica por su mismo valor asi que es 5 x 5 = 25.
y = x ** 2
print(y)

25

In [12]:
# Residuo: 23 a ejemplo de 5 x 4 = 20 residuo de 3 y es el signo que nos permite ver el residuo de nuestra operacion
z = 23 % 5 
print(z)

3

In [18]:
# Iniciamos con la * que es = 15 y seguimos con /2 = 7.5 terminando con + 3
x = 1 + 2 + 3*5 / 2

In [16]:
print(x)

10.5

In [20]:
y = 1 + 2 ** 3 / 4 * 5
print(y)

11.0

In [22]:
w = (1+2)**3/4*5
print(w)

33.75

In [26]:
# Comando type nos indicara el tipo de expresiones
type(w)

float

In [32]:
texto = "EBAC"
print(texto)

EBAC

In [34]:
# STR tipo de variable Cadena
type(texto)

str

In [44]:
# Concatenacion
texto2 = "Hola " + "Buen dia"
print(texto2)

Hola Buen dia

In [46]:
texto2 = texto2 + 1

TypeError: can only concatenate str (not "int") to str

In [48]:
# Variable de tipo entero
x = 4
type(4)

int

In [50]:
# Tipo de variable flotante
x = 10
y = 15
z = x / y
type(z)

float

In [52]:
print(z)

0.6666666666666666

In [54]:
# Cambiamos el tipo de variable.
z = int(z)
print(z)

0

In [56]:
type(x)

int

In [58]:
# 2do ejempo de cambiar el tipo de variable
x = float(x)
print(x)

10.0

In [60]:
type(x)

float

In [64]:
nombre = input("¿Como te llamas?")
print("Tu nombre es ", nombre)

¿Como te llamas? Randi

In [66]:
# input no detecta el valor nu erico y lo recicla como alfabetico
edad = input("Dame tu edad")
resultado = edad * 2
print(resultado)

Dame tu edad 10

1010

In [2]:
# INT le dio el valor numerico para que imput lo detectara 
edad = input("Dame tu edad")
resultado = int(edad) * 2
print(resultado)
type(resultado)

Dame tu edad 010

20

int